{% extends 'base.html' %}
{% block title %}Home {% endblock title %}
{% block content %}
	<h2 class="text-center">Today is {{ day }} day</h2>
 	<table class="table table-bordered table-dark table-responsive">
		<thead>
		<tr>
		  <th scope="col">First Period</th>
		  <th scope="col">Second Period</th>
		  <th scope="col">Third Period</th>
		  <th scope="col">Fourth Period</th>
		  <th scope="col">Fifth Period</th>
		  <th scope="col">Sixth Period</th>
		  <th scope="col">Seventh Period</th>
		  <th scope="col">Eighth Period</th>
		  <th scope="col">Ninth Period</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			{% if routine.morning_lab %}
		  <td colspan="3" class="text-center">{{ routine.first_period }}</td>
		    {% else %}
		  <td>{{ routine.first_period }}</td>
		  <td>{{ routine.second_period }}</td>
		  <td>{{ routine.third_period }}</td>
		    {% endif %}
		    {% if routine.after_morning_lab %}
		  <td colspan="3" class="text-center">{{ routine.fourth_period }}</td>
		  	{% else %}
		  <td>{{ routine.fourth_period }}</td>
		  <td>{{ routine.fifth_period }}</td>
		  <td>{{ routine.sixth_period }}</td>
		    {% endif %}
		    {% if routine.afternoon_lab %}
		  <td colspan="3" class="text-center">{{ routine.seventh_period }}</td>
		  	{% else %}
		  <td>{{ routine.seventh_period }}</td>
		  <td>{{ routine.eighth_period }}</td>
		  <td>{{ routine.ninth_period }}</td>
		    {% endif %}
		</tr>
		</tbody>
	</table>

		<!--Latest Academic Notices--> 

	<h2>Latest Academic Notices</h2>		
	<div id="inam1" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			
			<div class="carousel-item active">
			<div class="container-fluid">
			<div class="row flex-row">
			{% for academic_notice in academic_notices|slice:":4" %}
			<div class="col-3">
            <div class="card">
            	<div class="card-body">
            		<h5 class="card-title">{{ academic_notice.title }}</h5>
            		 <p class="card-text">{{ academic_notice.body }}</p>
            		 <p class="card-footer">{{ academic_notice.author }} {{ academic_notice.date }}</p>
            	</div>
        	</div>
        	</div>
			{% endfor %}

				
			
			</div>
			</div>
			</div>
			<div class="carousel-item">
			<div class="container-fluid">
			<div class="row flex-row">
			{% for academic_notice in academic_notices|slice:"4:8" %}
			<div class="col-3">
            <div class="card">
            	<div class="card-body">
            		<h5 class="card-title">{{ academic_notice.title }}</h5>
            		 <p class="card-text">{{ academic_notice.body }}</p>
            		 <p class="card-footer">{{ academic_notice.author }} {{ academic_notice.date }}</p>
            	</div>
        	</div>
        	</div>
			{% endfor %}
			</div>
			</div>
			</div>	
		</div>
				<a href="#inam1" class="carousel-control-prev" data-slide="prev">
					<span class="carousel-control-prev-icon"></span>
				</a>
				<a href="#inam1" class="carousel-control-next" data-slide="next">
					<span class="carousel-control-next-icon"></span>
				</a>		
	</div>

		<!--Latest Class Notices-->

	<h2>Latest Class Notices</h2>		
	<div id="inam2" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			
			<div class="carousel-item active">
			<div class="container-fluid">
			<div class="row flex-row">
			{% for class_notice in class_notices|slice:":4" %}
			<div class="col-3">
            <div class="card">
            	<div class="card-body">
            		<h5 class="card-title">{{ class_notice.title }}</h5>
            		 <p class="card-text">{{ class_notice.body }}</p>
            		 <p class="card-footer">{{ class_notice.author }} {{ class_notice.date }}</p>
            	</div>
        	</div>
        	</div>
			{% endfor %}

				
			
			</div>
			</div>
			</div>
			<div class="carousel-item">
			<div class="container-fluid">
			<div class="row flex-row">
			{% for class_notice in class_notices|slice:"4:8" %}
			<div class="col-3">
            <div class="card">
            	<div class="card-body">
            		<h5 class="card-title">{{ class_notice.title }}</h5>
            		 <p class="card-text">{{ class_notice.body }}</p>
            		 <p class="card-footer">{{ class_notice.author }} {{ class_notice.date }}</p>
            	</div>
        	</div>
        	</div>
			{% endfor %}
			</div>
			</div>
			</div>	
		</div>
				<a href="#inam2" class="carousel-control-prev" data-slide="prev">
					<span class="carousel-control-prev-icon"></span>
				</a>
				<a href="#inam2" class="carousel-control-next" data-slide="next">
					<span class="carousel-control-next-icon"></span>
				</a>		
	</div>
			
	
{% endblock content %}